<!-- tasks/templates/tasks/update_task.html -->
{% extends 'tasks/base.html' %}

{% block title %}Update Task{% endblock %}

{% load static %} 

{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/update_task.css' %}">
  </head>

  <div>
     <div class="update-task-form">
    <form  method="post" action="{% url 'update_task' task.id %}">
        <h1>Update Task</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-container" type="submit">Update Task</button>
    </form>
  </div>
  </div>
 
 
{% endblock %}
